@using WebUi.Areas.Admin.Models
@using PagedList.Mvc
@using WebUi.Helpers
@model PagedList.IPagedList<MessageViewModel>

<div id="contentPager">
    <span id="loading" class="loading"> <i class="glyphicon glyphicon-refresh gly-spin"></i></span>
    @Html.PagedListPager(Model, page => Url.Action("MessagesListPage", new { page }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PageListRenderOptionsHelper.MessagesPageListRenderOptions,
            new AjaxOptions()
            {
                HttpMethod = "Get",
                UpdateTargetId = "content",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "loading"
            }))

</div>


@foreach (MessageViewModel message in Model)
{
    <hr />
    <a href="@Url.Action("Edit", new {id = message.Id})">
        <strong>ID </strong> @message.Id
        <strong>Time </strong> @message.CreatingTime.ToString("g")
        <br />

        <strong>Sender </strong> @String.Format("{0} {1} ({2} ID{3})", message.Sender.Name, message.Sender.Surname, message.Sender.UserName, message.Sender.Id)
        <br />
        <strong>Target </strong> @String.Format("{0} {1} ({2} ID{3})", message.Target.Name, message.Target.Surname, message.Target.UserName, message.Target.Id)
        <br />

        <div class="bigword admin-message">@message.Text</div>
    </a>
}
