@model WebUi.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}
<h2>@ViewBag.Title.</h2>

@if (ViewBag.StatusMessage != "")
{
    <p class="success">@ViewBag.StatusMessage</p>
}

<div class="row">
    <div class="col-md-12">
        <section>
            @using (Html.BeginForm("ChangePassword", "Acount", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <div class="col-sm-3">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                    </div>
                    <div class="col-sm-9">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        @Html.LabelFor(m => m.NewPassword, new {@class = "control-label"})
                    </div>
                    <div class="col-sm-9">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    </div>
                    <div class="col-sm-9">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <input type="submit" value="Change password" class="btn btn-default" />
                    </div>
                </div>
                
            }
        </section>
    </div>
</div>
