@using WebUi.Models
@model System.Collections.Generic.IEnumerable<WebUi.Models.MessageViewModel>

@foreach (MessageViewModel messageView in Model)
{
    <div class="row">
        <div class="col-md-8 col-xs-10 @(messageView.IsSended ? "col-md-offset-0 col-xs-offset-0" : "col-md-offset-4 col-xs-offset-2")">
            <div class="row">
                <div class="col-xs-3 col-md-2 @(messageView.IsSended ? "" : "col-xs-push-10" )">
                    <img src="@Url.Action("Avatar", "User", new {id = messageView.UserId})"
                         alt="@string.Format("{0} {1}", messageView.UserName, messageView.UserSurname)" width="60"
                         height="90" class="img-thumbnail">
                </div>
                <div class="col-xs-9 col-md-10 @(messageView.IsSended ? "" : "col-xs-pull-2" )">
                    <div @(messageView.IsSended ? "" : "align = right")>
                        <a href="@Url.Action("Index", new {id = messageView.UserId})"><strong>@string.Format("{0} {1}", messageView.UserName, messageView.UserSurname)</strong> </a>
                        @messageView.CreaingTime.ToShortTimeString() <br/>
                    </div>
                    <div class="bigword">@HttpUtility.HtmlEncode(messageView.Text)</div>

                </div>
            </div>

            <hr/>
        </div>

    </div>
}